## Модуль math

In [ ]:
import math

In [ ]:
# возведение в степень

print(math.pow(5, 2))

# через оператор
print(5**2)

# встроенная функция
print(pow(5, 2))
# если добавить третий параметр, то получим остаток от деления по модулю
print(pow(5, 2, 10))

25.0
25
25
5

In [ ]:
# квадратный корень

print(math.sqrt(4))
print(math.sqrt(5))

# через оператор
print(5 ** 0.5)
# корень n степени вычисляется только через оператор возведения в степень
print(5 ** (1/3))

# целочисленный квадратный корень
print(math.isqrt(5))

2.0
2.23606797749979
2.23606797749979
1.7099759466766968
2

In [ ]:
# округление числа

# округление в меньшую сторону
print(math.floor(5.5))
# через встроенную функцию
print(int(5.5))

# округление в большую сторону
print(math.ceil(5.5))

5
5
6

In [ ]:
# факториал
math.factorial(5)  # 5! = 1 * 2 * 3 * 4 * 5

120

In [ ]:
# модуль числа

print(math.fabs(-5.5))

# встроенная функция
print(abs(-5.5))

5.5
5.5

In [ ]:
# константы
print(math.inf)  # бесконечность (положительная)
print(math.nan)  # не число
print(math.pi)
print(math.e)
print(math.tau)  # отношение длины окружности к радиусу круга

inf
nan
3.141592653589793
2.718281828459045
6.283185307179586

In [ ]:
# перевод из радиан в градусы
print(math.degrees(math.pi))

# перевод из градусов в радианы
print(math.radians(180))

180.0
3.141592653589793

In [ ]:
# тригонометрические операции

# косинус
print(math.cos(math.pi))
# cинус
print(math.sin(math.pi))
# тангенс
print(math.tan(math.pi))

# арккосинус (результат от 0 до pi)
print(math.acos(-1))
# аркcинус (результат от -pi/2 до pi/2)
print(math.asin(1))
# арктангенс (результат от -pi/2 до pi/2)
print(math.atan(100))

-1.0
1.2246467991473532e-16
-1.2246467991473532e-16
3.141592653589793
1.5707963267948966
1.5607966601082315

## Datetime

In [ ]:
import datetime as dt

Класс date

In [ ]:
# конструктор класса принимает 3 обязательных аргумента - год, месяц и день
d = dt.date(year=2024, month=9, day=23)
print(d)

# можно получить отдельно значения полей
print(d.day, d.month, d.year)

2024-09-23
23 9 2024

In [ ]:
# получение текущей даты
d = dt.date.today()

print(d)

2024-09-23

In [ ]:
# строковое отображение
d.ctime()

'Mon Sep 23 00:00:00 2024'

In [ ]:
# день недели даты (от 0 (понедельник), до 6 (воскресенье))
d.weekday()

0

In [ ]:
# замена значения любого поля
d = d.replace(year=2023)
print(d)

2023-09-23

Класс time

In [ ]:
# конструктор принимает 4 необязательных параметра:
# часы, минуты, секунды и милисекунды
t = dt.time()
print(t)
t = dt.time(hour=11)
print(t)
t = dt.time(hour=11, minute=30)
print(t)
t = dt.time(hour=11, minute=30, second=1)
print(t)
t = dt.time(hour=11, minute=30, second=1, microsecond=100000)
print(t)

# аналогично можно получить отдельно значения полей
print(t.hour, t.minute, t.second, t.microsecond)

00:00:00
11:00:00
11:30:00
11:30:01
11:30:01.100000
11 30 1 100000

Класс datetime

In [ ]:
# конструктор класса принимает 3 обязательных аргумента - год, месяц и день, и
# 4 необязательных - часы, минуты, секунды и милисекунды
d = dt.datetime(year=2024, month=9, day=23, hour=11, minute=30)
print(d)

2024-09-23 11:30:00

In [ ]:
# получение текущих даты и времени
d = dt.datetime.now()
print(d)

2024-09-23 07:47:39.392081

Метод strptime() позволяет распарсить строку и преобразовать ее в дату.
`strptime(str, format)`

str - строковое определение даты и времени, format - определяет, как различные части даты и времени расположены в этой строке.

Коды для определения формата:

- `%d` - день месяца в виде числа

- `%m` - порядковый номер месяца

- `%y` - год в виде 2-х чисел

- `%Y` - год в виде 4-х чисел

- `%H` - час в 24-х часовом формате

- `%M` - минута

- `%S` - секунда

In [ ]:
d = dt.datetime.strptime("23/09/2024", "%d/%m/%Y")
print(d)

d = dt.datetime.strptime("23/09/2024 11:30", "%d/%m/%Y %H:%M")
print(d)

d = dt.datetime.strptime("09-23-24 11:30", "%m-%d-%y %H:%M")
print(d)

2024-09-23 00:00:00
2024-09-23 11:30:00
2024-09-23 11:30:00

Класс Timedelta

In [ ]:
# класс timedalta используется для операций над датами
# принимает на вход необязательные параметры:
# день, часы, минуты, секунды и милисекунды
td = dt.timedelta(days=500)
print(td)

500 days, 0:00:00

In [ ]:
d2 = dt.datetime(2023, 9, 23)

# разница между двумя датами
td = d - d2
print(type(td), td)

# прибавление к дате
d = d + dt.timedelta(days=100)
print(d)

# умножение на число
td = dt.timedelta(days=100) * 5
print(td)

# деление на число
td = dt.timedelta(days=100) / 5
print(td)

<class 'datetime.timedelta'> 466 days, 11:30:00
2025-04-11 11:30:00
500 days, 0:00:00
20 days, 0:00:00

## Модуль time

In [ ]:
import time

In [ ]:
# time() возвращает число секунд, прошедших с начала эпохи.
# Для операционных систем Unix 1 января 1970, 00:00:00 (UTC) — начало эпохи
# (момент, с которого время пошло).

t = time.time()
print(t)

1727078022.209894

In [ ]:
# time.ctime() принимает в качестве аргумента количество секунд,
# прошедших с начала эпохи, и возвращает строку, представляющую
# собой местное время.
t = time.ctime(time.time())
print(t)

Mon Sep 23 07:53:57 2024

In [ ]:
# localtime() возвращает объект класса struct_time с текущим временем
t = time.localtime()
print(t)

time.struct_time(tm_year=2024, tm_mon=9, tm_mday=23, tm_hour=7, tm_min=54, tm_sec=11, tm_wday=0, tm_yday=267, tm_isdst=0)

In [ ]:
# sleep() откладывает исполнение текущего потока на данное количество секунд
print("Сейчас.")
time.sleep(3)
print("Через 3 секунды.")

Сейчас.
Через 3 секунды.

## Модуль csv

Каждая строка в файле csv представляет отдельную запись или строку, которая состоит из отдельных столбцов, разделенных запятыми или другими разделителями.

In [ ]:
import csv

In [ ]:
# пример записи в csv файл
# данные для записи
data = [
    ["Имя", "Возраст", "Город"],  # Заголовки
    ["Алексей", 30, "Москва"],
    ["Мария", 25, "Санкт-Петербург"],
    ["Иван", 22, "Екатеринбург"]
]

# запись данных в CSV файл
with open('data.csv', mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(data) # запись всех строк

# дозапись в файл
with open('data.csv', mode='a', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerow(["Ирина", 33, "Сочи"])

In [ ]:
# содержимое csv файла
with open('data.csv', mode='r') as file:
    print(file.read())

Имя,Возраст,Город
Алексей,30,Москва
Мария,25,Санкт-Петербург
Иван,22,Екатеринбург
Ирина,33,Сочи

In [ ]:
# чтение из csv файла
with open('data.csv', "r", newline="") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)  # получаем список элементов строки

['Имя', 'Возраст', 'Город']
['Алексей', '30', 'Москва']
['Мария', '25', 'Санкт-Петербург']
['Иван', '22', 'Екатеринбург']
['Ирина', '33', 'Сочи']

Работа со словарями

In [ ]:
# данные для записи в виде списка словарей
# ключи словаря - названия колонок
data = [
    {"Имя": "Алексей", "Возраст": 30},
    {"Имя": "Мария", "Возраст": 25},
    {"Имя": "Иван", "Возраст": 22}
]

# запись в csv файл
with open('data2.csv', "w", newline="") as file:
    columns = ["Имя", "Возраст"]
    writer = csv.DictWriter(file, fieldnames=columns)
    writer.writeheader()
    writer.writerows(data)

In [ ]:
# содержимое файла
with open('data2.csv', mode='r') as file:
    print(file.read())

Имя,Возраст
Алексей,30
Мария,25
Иван,22

In [ ]:
# чтение из csv файла
with open('data2.csv', "r", newline="") as file:
    reader = csv.DictReader(file)
    name, age = reader.fieldnames  # получаем названия колонок
    print(name, age)
    for row in reader:
        # теперь можно обращаться к колонкам по ключу
        print("Имя:", row[name], "Возраст:", row[age])

Имя Возраст
Имя: Алексей Возраст: 30
Имя: Мария Возраст: 25
Имя: Иван Возраст: 22

## Модуль json

JSON - это формат файла, имеющий структуру, напоминающую словарь.

Пример json файла:
```
{
  "store": {
    "name": "Магазин электроники",
    "location": "Москва",
    "products": [
      {
        "id": 1,
        "name": "Телевизор",
        "price": 30000
      },
      {
        "id": 2,
        "name": "Смартфон",
        "price": 20000
      }
    ]
  }
}
```

json не привязан к типам данных. Типы данных python конвертируются в json следующим образом:
- `dict` - `object`
- `list, tuple` - `array`
- `str` - `string`
- `int, long, float` - `number`
- `True` - `true`
- `False` - `false`
- `None` - `null`

In [ ]:
import json

In [ ]:
data = {
  "store": {
    "name": "Магазин электроники",
    "location": "Москва",
    "products": [
      {
        "id": 1,
        "name": "Телевизор",
        "price": 30000
      },
      {
        "id": 2,
        "name": "Смартфон",
        "price": 20000
      }
    ]
  }
}

# запись в файл (сериализация)
with open("data.json", "w") as file:
    json.dump(data, file)

In [ ]:
# содержимое файла
with open('data.json', mode='r') as file:
    print(file.read())  # данные сериализованы

{"store": {"name": "\u041c\u0430\u0433\u0430\u0437\u0438\u043d \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u0438\u043a\u0438", "location": "\u041c\u043e\u0441\u043a\u0432\u0430", "products": [{"id": 1, "name": "\u0422\u0435\u043b\u0435\u0432\u0438\u0437\u043e\u0440", "price": 30000}, {"id": 2, "name": "\u0421\u043c\u0430\u0440\u0442\u0444\u043e\u043d", "price": 20000}]}}

In [ ]:
# чтение файла (десериализация)
with open("data.json", "r") as file:
    data = json.load(file)
print(data)
print(type(data))

{'store': {'name': 'Магазин электроники', 'location': 'Москва', 'products': [{'id': 1, 'name': 'Телевизор', 'price': 30000}, {'id': 2, 'name': 'Смартфон', 'price': 20000}]}}
<class 'dict'>

## Модуль tqdm

Модуль `tqdm` предназначен для быстрого и расширяемого внедрения индикаторов выполнения (progressbar) во внешние интерфейсы программ на Python, предоставляя конечным пользователям визуальную индикацию хода вычислений или передачи данных.

In [ ]:
!pip install tqdm

from tqdm import tqdm

Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (4.66.5)

In [ ]:
# запуск
for i in tqdm(range(100)):
    time.sleep(0.1)

100%|██████████| 100/100 [00:10<00:00,  9.81it/s]

In [ ]:
# модификация progressbar
pbar = tqdm(range(100), ascii=False)
for num in pbar:
    time.sleep(0.1)
    # добавление префикса и элементов итерации к прогресс бару
    pbar.set_description(f"Загрузка: file_{num}")

Загрузка: file_99: 100%|██████████| 100/100 [00:10<00:00,  9.63it/s]

# Модуль glob

Модуль `glob` используется для поиска файлов и каталогов, соответствующих определённым шаблонам имен файлов. Он позволяет удобно работать с файловой системой, находя файлы по заданной маске.

`glob.glob(pattern)` - возвращает список путей к файлам, соответствующим заданному шаблону.
Шаблон может содержать специальные символы:

- `*` - соответствует любому количеству символов.
- `?` - соответствует любому одному символу.
- `[a-c]` - соответствует любому одному символу из указанного набора.

In [ ]:
import glob

In [ ]:
# список всех csv файлов в текущем каталоге
files = glob.glob('*.csv')
print(files)

# список всех файлов в подкаталоге "sample_data"
files = glob.glob('sample_data/*')
print(files)

# список всех файлов в текущем каталоге и подкаталогах
py_files = glob.glob('**/*', recursive=True)
print(py_files)

['data.csv', 'data2.csv']
['sample_data/anscombe.json', 'sample_data/README.md', 'sample_data/mnist_test.csv', 'sample_data/california_housing_test.csv', 'sample_data/california_housing_train.csv', 'sample_data/mnist_train_small.csv']
['data.csv', 'data.json', 'data2.csv', 'sample_data', 'sample_data/anscombe.json', 'sample_data/README.md', 'sample_data/mnist_test.csv', 'sample_data/california_housing_test.csv', 'sample_data/california_housing_train.csv', 'sample_data/mnist_train_small.csv']