## Коллекции

### Списки

In [ ]:
# создание списков

# пустой список
lst = []
lst = list()

# заполненный список
lst = [1, 2, 3]
lst = ["abc", 333, [5.5, 8]]  # любые типы данных
lst2 = list(lst)  # копия списка
lst = list("list")  # список из строки
lst

['l', 'i', 's', 't']

In [ ]:
# повторение элементов списка
lst = [0, 1] * 3
print(lst)

# сложение списков
lst = lst + [2, 3]
print(lst)

[0, 1, 0, 1, 0, 1]
[0, 1, 0, 1, 0, 1, 2, 3]

In [ ]:
# индексация

lst = [0, 1, 2, 3, 4]

print(lst[0])  # прямая
print(lst[-1])  # обратная

print(lst[0:3])  # срез списка - тоже список
print(lst[::-1])  # срез с шагом в обратном направлении

0
4
[0, 1, 2]
[4, 3, 2, 1, 0]

In [ ]:
# разложение

info = ["Ivan", 20]
name, age = info
print(name, age)

Ivan 20

In [ ]:
# сравнение списков

print([0, 1, 2] == [0, 1, 2])
print([0, 1, 2] == [2, 1, 0])

True
False

In [ ]:
# перебор списка

lst = [1, 2, 3, 4, 5]

# через индексы
for i in range(len(lst)):
    print(lst[i], end=" ")

print()

# через итератор (предпочтительней)
for item in lst:
    print(item, end=" ")

print()

# комбинация с помощью enumerate
for i, item in enumerate(lst):
    print(f"ind: {i}, value: {item}")

lst2 = [6, 7, 8, 9, 10]
# перебор двух списков через функцию zip()
for item1, item2 in zip(lst, lst2):
    print(f"{item1} {item2};", end=" ")

1 2 3 4 5
1 2 3 4 5
ind: 0, value: 1
ind: 1, value: 2
ind: 2, value: 3
ind: 3, value: 4
ind: 4, value: 5
1 6; 2 7; 3 8; 4 9; 5 10;

In [ ]:
# методы списка

lst = [0, 1, 2, 3, 4]

# добавление

lst.append(5)  # добавление в конец
print(lst)

lst.insert(5, -1)  # добавление по индексу 5
print(lst)

lst.extend([6, 7])  # добавление нескольких элементов в конец списка
print(lst)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, -1, 5]
[0, 1, 2, 3, 4, -1, 5, 6, 7]

In [ ]:
# работа со списком
lst = [0, 1, 2, 3, 4, -1, 5, 6, 7]

index = lst.index(-1)  # возвращает индекс элемента -1
# Если элемент не найден - вызывает исключение
print(index)

count = lst.count(0)  # подсчитывает количество вхождений элемента 0
print(count)

lst.reverse()  # инвертирует список
print(lst)

lst.sort()  # сортировка по возрастанию
print(lst)

lst.sort(reverse=True)  # сортировка по убыванию
print(lst)

lst.sort(key=lambda x: x ** 2)  # сортировка по ключу
print(lst)

lst2 = lst.copy()  # копирование
print(lst2)

5
1
[7, 6, 5, -1, 4, 3, 2, 1, 0]
[-1, 0, 1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1, 0, -1]
[0, 1, -1, 2, 3, 4, 5, 6, 7]
[0, 1, -1, 2, 3, 4, 5, 6, 7]

In [ ]:
# удаление элементов

lst = [0, 1, 2, 3, 4, -1, 5, 6, 7]

lst.remove(7)  # удаление первого вхождения элемента 7
# Если элемент не найден - вызывает исключение
print(lst)

ind = lst.pop()  # удаление последнего элемента и возврат его значения
print(lst)
print(ind)

lst.pop(0)  # удаление элемента по индексу 0
print(lst)

del lst[0]  # тоже удаление элемента по индексу 0
print(lst)

lst.clear()  # удаление всех элементов
print(lst)

[0, 1, 2, 3, 4, -1, 5, 6]
[0, 1, 2, 3, 4, -1, 5]
6
[1, 2, 3, 4, -1, 5]
[2, 3, 4, -1, 5]
[]

In [ ]:
# встроенные функции python

lst = [3, 1, 2]

print(len(lst))  # длина

print(min(lst))  # минимум
print(max(lst))  # максимум

print(sorted(lst))  # сортировка

print(list(filter(lambda x: x > 1, lst)))  # фильтрация

print(list(map(str, lst)))  # преобразование

3
1
3
[1, 2, 3]
[3, 2]
['3', '1', '2']

In [ ]:
# WARNING! Списки - "ссылочный" тип!

# создаём функцию, которая удаляет первый элемент списка
def func(my_list: list):
    del my_list[0]


lst = [0, 1, 2]  # создаём список
func(lst)  # передаём его в функцию
print(lst)  # обнаруживаем неприятный сюрприз

[1, 2]

In [ ]:
# ребус

lst = ['p', 'r', 'i', 'n', 't']
lst2 = ['g', 'a', 'm', 'e']

lst.extend(lst2[1:3])
lst[4] = lst[1]
lst.pop(lst.index('i'))
lst.insert(2, 'o')
lst2.reverse()
lst[-4] = lst2[-1]

print("".join(lst))

### Кортежи
(как списки, но неизменяемые)

In [ ]:
# создание кортежей

tpl = ()
tpl = tuple()
tpl = (1, 2, 3)
tpl2 = tuple(tpl)  # копия
print(tpl2)

# кортежи и списки легко преобразуются друг в друга
lst = list(tpl)
tpl = tuple(lst)

(1, 2, 3)

In [ ]:
# методы

tpl = (1, 2, 3)

index = tpl.index(2)
print(index)

count = tpl.count(3)
print(count)

1
1

In [ ]:
# часто используется для возврата нескольких значений из функции

def colors() -> tuple[str, str, str]:
    return "red", "green", "blue"

print(colors())
print(type(colors()))

('red', 'green', 'blue')
<class 'tuple'>

### Словари

In [ ]:
# создание словаря

dct = {}
dct = dict()

dct = {1: "Cat", 2: "Dog", 3: "Mouse"}

# ключи - неизменяемые, значения - любые
dct = {True: "abc", 5.5: [1, 2, 3], "a": 0}

# словарь из списка списков
dct = dict([['key1', 'val1'], ['key2', 'val2']])
print(dct)

{'key1': 'val1', 'key2': 'val2'}

In [ ]:
# обращение по ключам

dct = {'key1': 'val1', 'key2': 'val2'}

print(dct['key1'])

dct['key2'] = 'new val'  # замена значения
print(dct)

dct['key3'] = 'val3'  # добавление нового элемента
print(dct)

del dct['key3']  # удаление элемента
print(dct)

val1
{'key1': 'val1', 'key2': 'new val'}
{'key1': 'val1', 'key2': 'new val', 'key3': 'val3'}
{'key1': 'val1', 'key2': 'new val'}

In [ ]:
# перебор словаря

dct = {1: "Cat", 2: "Dog", 3: "Mouse"}

# по ключу
for key in dct:
    print(f"{key}, {dct[key]};", end=" ")

print()

# по ключу с импользованием метода keys()
for key in dct.keys():
    print(f"{key}, {dct[key]};", end=" ")

print()

# перебор значений с помощью метода values()
for val in dct.values():
    print(val, end=" ")

print()

# получение пары ключ-значение с помощью метода items()
for key, val in dct.items():
    print(f"{key}, {val};", end=" ")

1, Cat; 2, Dog; 3, Mouse;
1, Cat; 2, Dog; 3, Mouse;
Cat Dog Mouse
1, Cat; 2, Dog; 3, Mouse;

In [ ]:
# методы

dct = {1: "Cat", 2: "Dog", 3: "Mouse"}

print(dct.get(1))  # получение элемента
print(dct.get(0, 'not found'))  # дефолтное значение, если ключ не найден

dct2 = dct.copy()  # копирование

dct2 = {1: "Cat", 3: "Bird", 4: "Lion"}

dct.update(dct2)  # "объединение" словарей
print(dct)

print(dct.pop(1))  # удаление элемента и возврат значения
print(dct.pop(0, 'not found'))  # дефолтное значение, если ключ не найден
dct.clear()  # удаление всех элементов

Cat
not found
{1: 'Cat', 2: 'Dog', 3: 'Bird', 4: 'Lion'}
Cat
not found

### Множества
(как словари, но без значений)

In [ ]:
# создание множеств

st = set()
st = {1, 2, 3}

lst = [1, 4, 5, 1, 0, 4, 3, 5, 5, 5]
st = set(lst)  # множество из списка - только уникальные значения
print(st)

{0, 1, 3, 4, 5}

In [ ]:
# перебор множеств

# только так :(
for item in st:
    print(item, end=" ")

0 1 3 4 5

In [ ]:
# методы

st = {1, 2, 3}

st.add(4)  # добавление элемента
print(st)

st2 = st.copy()  # копирование множества

st.remove(4)  # удаление элемента, если элемента нет - исключение
print(st)

st.discard(0)  # удаление элемента, но без исключений
print(st)

st.clear()  # удаление всех элементов

{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3}

In [ ]:
st = {1, 2, 3}
st2 = {2, 3, 4}

st3 = st.union(st2)  # объединение множеств
st3 = st | st2  # объединение множеств через оператор
print(st3)

st3 = st.intersection(st2)  # пересечение множеств
st3 = st & st2  # пересечение множеств через оператор
print(st3)
# st.intersection_update(st2) - пересечение с обновлением st

st3 = st.difference(st2)  # разность - есть в множестве st и нет в st2
st3 = st - st2  # разность через оператор
print(st3)
# st.difference_update(st2) - разность с обновлением st

st3 = st.symmetric_difference(st2)  # симметрическая разность
st3 = st ^ st2  # симметрическая разность через оператор
print(st3)
# st.symmetric_difference_update(st2) - симметрическая разность с обновлением st

{1, 2, 3, 4}
{2, 3}
{1}
{1, 4}

In [ ]:
st = {1, 2, 3}
st2 = {1, 3}

# является ли одно множество подмножеством другого
print(st.issubset(st2))
print(st2.issubset(st))

# является ли одно множество надмножеством другого
print(st.issuperset(st2))
print(st2.issuperset(st))

False
True
True
False

In [ ]:
# неизменяемое множество

st = {1, 2, 3}
fst = frozenset(st)  # создание из множества

fst = frozenset([1, 2, 3, 3])  # создание из списка
print(fst)

frozenset({1, 2, 3})

### List comprehension
(и не только list)

In [ ]:
lst = [1, 2, 3, 4, 5]

# генерация списка
lst2 = [item ** 2 for item in lst]
print(lst2)

# генерация списка с условием
lst2 = [item ** 2 for item in lst if item % 2 != 0]
print(lst2)

[1, 4, 9, 16, 25]
[1, 9, 25]

In [ ]:
lst = [1, 2, 3, 4, 5, 5, 5]

# генерация словаря
dct = {item: item ** 2 for item in lst}
print(dct)

# генерация множества
st = {item ** 2 for item in lst}
print(type(st), st)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
<class 'set'> {1, 4, 9, 16, 25}

## Функции

In [ ]:
def sum(a, b):  # заголовок
    res = a + b
    return res  # возврат значения

c = sum(1, 2)
print(c)

3

In [ ]:
# параметры по умолчанию

def sum(a, b=0):
    res = a + b
    return res

sum(1)

1

In [ ]:
# передача значений по имени

sum(b=5, a=10)

15

In [ ]:
# неопределённое количество параметров

def sum(*numbers):
    res = 0
    for num in numbers:
        res += num
    return res

sum(1, 2, 3)

6

In [ ]:
# type-hinting и docstring

def sum(a: int, b: int) -> int:
    """
    Сумма чисел.
    :param a: первое слагаемое
    :param b: второе слагаемое
    :return: сумма
    """
    res = a + b
    return res

tmp: int = 0

In [ ]:
# lambda-функции

l_sum = lambda a, b: a + b

print(l_sum(3, 3))

# пример
lst = [[1, 2], [4, 5], [0, 1]]
lst.sort(key=lambda x: x[0] + x[1])
print(lst)

6
[[0, 1], [1, 2], [4, 5]]